html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, hsl(207, 50%, 55%) 0%, hsla(340, 100%, 55%, 0) 70%), linear-gradient(135deg, hsl(227, 55%, 50%) 10%, hsla(225, 95%, 50%, 0) 80%), linear-gradient(225deg, hsl(176, 60%, 50%) 10%, hsla(140, 90%, 50%, 0) 80%), linear-gradient(315deg, hsl(307, 55%, 55%) 100%, hsla(35, 95%, 55%, 0) 70%);
}

h1 {
    font-size: 3rem;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    padding: 1rem;
}

li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}

dl {
    width: 100%;
}

dt {
    width: 30%;
}

dd {
    margin: 0;
    width: 70%;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

ul li:nth-child(odd) {
    // background: #bada55;
}

.fade.ng-enter {
    animation: 2s appear;
}

.fade.ng-leave {
    animation: 0.5s disappear;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    50% {
        font-size: 0.75rem;
    }
    75% {
        color: green;
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}